
<link rel="stylesheet" href="/css/login.css">
<div class="container">

    <div class="row mt-3">
        <div class="col-md-6 m-auto">
            <div class="card card-body" id="main" style="margin-top: 6vh;">
                <h1 class="text-center">Register</h1>

                <form action="/users/create-user" method="post">

                    <div class="form-group mt-2">
                        <label for="name" style="font-weight: bold;">Name:</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name"/>
                    </div>

                    <div class="form-group mt-2">
                        <label for="email" style="font-weight: bold;">Email:</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter Your Email"/>
                    </div>
    
                    <div class="form-group mt-2">
                        <label for="password" style="font-weight: bold;">Password:</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Your Password"/>
                    </div>

                    <div class="form-group mt-2">
                        <label for="pass" style="font-weight: bold;">Confirm Password:</label>
                        <input type="password" id="pass" name="password2" class="form-control" placeholder="Confirm Your Password"/>
                    </div>
    
                    <div class="d-grid gap-2 col-12 mx-auto mt-3">
                        <button class="btn btn-primary color" type="submit" style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); border-radius: 10px;">Register</button>
                    </div>

                    <p class="lead mt-4" style="font-weight: bold; margin-left: 64%;">
                        Already a User? <a class="r-link" href="/users/login" style="color: antiquewhite; ">Log In</a>
                    </p>
                </form>

            </div>
        </div>
    </div>

</div>